/* Abouts us */

.aboutus {
  padding-top: 80px;
  padding-bottom: 54px;
  background-color: var(--white);
}

.aboutus__container {
  max-width: 1080px;
}

/* Gallery */

.gallery {
  background-image: url(../img/Gallery/backgroundImg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery__container {
  min-height: 515px;
  padding: 40px 0;
}

.gallery__title {
  margin-bottom: 16px;
  color: var(--white);
}

.gallery__filtr {
  flex-direction: column;
  margin-right: 51px;
  color: var(--white);
}

.filter__list {
  position: relative;
  min-width: 400px;
  margin-top: 10px;
  margin-bottom: auto;
  padding: 3px 16px;
  border: 1px solid var(--white);
  border-radius: 6px;
  cursor: pointer;
}

.gallery__svg {
  position: absolute;
  top: 50%;
  right: 4%;
  transform: translateY(-50%);
}

.gallery__inputbox {
  display: flex;
  flex-direction: column;
}

.gallery__label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

.gallery__input {
  margin-right: 12px;
}

.gallery__input {
  display: none;
}

.gallery__input+span {
  position: absolute;
  top: 50%;
  left: 0;
  width: 12px;
  height: 12px;
  border: 1px solid var(--white);
  transform: translateY(-50%);
}

.gallery__input+span:before {
  content: "";
  position: absolute;
  top: 30%;
  right: 0;
  bottom: 0;
  left: 50%;
  width: 4px;
  height: 4px;
  color: var(--violet);
  text-align: center;
  opacity: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='4' height='5' viewBox='0 0 4 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='2' cy='2.43433' r='2' fill='%23C283F3'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  transition: opacity .3s ease-in-out;
  transform: translateY(-50%);
  transform: translateX(-50%);
}

.gallery__input+span:before {
  opacity: 1;
}

.gallery__img {
  width: 350px;
  height: 350px;
}

.gallery__hover {
  position: absolute;
  bottom: 7%;
  left: 7%;
  display: inline-block;
  width: 300px;
  height: 300px;
  opacity: 0;
  background-color: rgba(0, 0, 0, .5);
  cursor: pointer;
  transition: opacity .2s ease-in-out;
}

.gallery__hover:hover {
  opacity: 1;
}

.gallery__hoversvg {
  margin-top: 49%;
  margin-left: 34%;
  transform: translate(-50px, -50px);
}

.gallery__img:focus {
  outline: 3px solid var(--mviolet);
}

.gallery__hoverbox {
  display: none;
  position: absolute;
  z-index: 3;
  width: 900px;
  height: 500px;
  color: var(--mblack);
  background: var(--white);
}

.gallery__hoverbox--active {
  display: block;
}

.gallery__hoverbox-text {
  padding: 121px 49px;
}

.hoverbox__painter {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
}

.hoverbox__paintname {
  margin: 0;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}

.hoverbox__dates {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.hoverbox__text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

@media (max-width: 1024px) {

  .gallery {
    padding-bottom: 5px;
    background-image: url(../img/Gallery/backgroundImg@1024.jpg);
  }

  .filter__list {
    min-width: 280px;
    margin-bottom: 106px;
  }

  .gallery__img {
    width: 280px;
    height: 315px;

  }

  .gallery__container {
    padding-left: 9px;
  }
}
