/* Abouts us */

.aboutus {
  padding-top: 74px;
  padding-bottom: 54px;
  background-color: var(--white);
}

.aboutus__container {
  max-width: 1080px;
}

/* Gallery */

.gallery {
  background-image: url(../img/Gallery/backgroundImg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery__container {
  padding: 40px 0;
}

.gallery__title {
  margin-bottom: 16px;
  color: var(--white);
}

.gallery__filtr {
  flex-direction: column;
  max-width: 400px;
  margin-right: 51px;
  color: var(--white);
}

.gallery__filterlist {
  position: relative;
  min-width: 400px;
  margin-top: 10px;
  margin-bottom: auto;
  padding: 3px 16px;
  border: 1px solid var(--white);
  border-radius: 6px;
  cursor: pointer;
  transition: background-color .2s ease-in-out;
}

.gallery__filterlist:focus {
  background: rgba(255, 255, 255, .2);
}

.gallery__filterlist:hover {
  background: rgba(255, 255, 255, .2);
}

.gallery__filterlist:active {
  background: rgba(255, 255, 255, .2);
}

.gallery__svg {
  position: absolute;
  top: 50%;
  right: 4%;
  transform: translateY(-50%);
}

.gallery__inputbox {
  display: flex;
  flex-direction: column;
}

.gallery__label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

.gallery__label:focus {
  border: none;
  color: var(--violethover);
  outline: none;
}

.gallery__label:hover {
  color: var(--white);
}

.gallery__label:active {
  color: var(--violethover);
}

.gallery__input {
  margin-right: 12px;
}

.gallery__input {
  display: none;
}

.gallery__input+span {
  position: absolute;
  top: 50%;
  left: 0;
  width: 12px;
  height: 12px;
  border: 1px solid var(--white);
  transform: translateY(-50%);
}

.gallery__input+.gallery__customquadrate:focus {
  border: 1px solid var(--violethover);
}

.gallery__label+.gallery__customquadrate:hover {
  border: 1px solid var(--violethover);
}

.gallery__input+.gallery__customquadrate:active {
  border: 1px solid var(--violethover);
}

.gallery__input+span:before {
  content: "";
  position: absolute;
  top: 30%;
  right: 0;
  bottom: 0;
  left: 50%;
  width: 4px;
  height: 4px;
  color: var(--violet);
  text-align: center;
  opacity: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='4' height='5' viewBox='0 0 4 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='2' cy='2.43433' r='2' fill='%23C283F3'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  transition: opacity .3s ease-in-out;
  transform: translateY(-50%);
  transform: translateX(-50%);
}

.gallery__input:checked+span:before {
  opacity: 1;
}

.gallery__img {
  width: 350px;
  height: 350px;
}

.gallery__popuphover {
  position: absolute;
  bottom: 7%;
  left: 7%;
  display: inline-block;
  width: 87%;
  height: 86%;
  opacity: 0;
  background-color: rgba(0, 0, 0, .5);
  cursor: pointer;
  transition: opacity .2s ease-in-out, otline .2s ease-in-out;
}

.gallery__popuphover:hover {
  opacity: 1;
}

.gallery__popuphover:active {
  opacity: .5;
  outline: 25px solid var(--violet);
}

.gallery__popuphoversvg {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.gallery__img:focus {
  outline: 3px solid var(--mviolet);
}

.gallery__popup {
  position: absolute;
  z-index: 3;
  display: none;
  width: 900px;
  height: 500px;
  color: var(--mblack);
  background: var(--white);
}

.gallery__popup--active {
  display: flex;
}

.gallery__popupbox {
  padding: 121px 49px;
}

.gallery__popupimg {
  max-width: inherit;
}

.popup__painter {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
}

.popup__paintname {
  margin: 0;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}

.popup__dates {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.popup__text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

@media (max-width: 1024px) {
  .gallery {
    padding-bottom: 45px;
    background-image: url(../img/Gallery/backgroundImg@1024.jpg);
  }

  .gallery__filterlist {
    min-width: 280px;
    margin-bottom: 106px;
  }

  .gallery__popupbox {
    padding-bottom: 90px;
  }

  .gallery__popup {
    width: 594px;
    height: 594px;
  }

  .gallery__img {
    width: 280px;
    height: 315px;
  }

  .gallery__container {
    padding-left: 9px;
  }
}

@media (max-width: 768px) {
  .gallery {
    padding-bottom: 0;
    background-image: url(../img/Gallery/backgroundImg@768.jpg);
  }

  .gallery__popup {
    width: 668px;
    height: 594px;
    bottom: -50%;
  }

  .gallery__container {
    flex-direction: column;
    padding-bottom: 80px;
    padding-left: 0;
  }

  .gallery__filterlist {
    max-width: 280px;
    margin-bottom: 40px;
  }

  .gallery__swiper {
    padding-top: 100px;
  }
}

@media (max-width: 720px) {
  .container {
    padding-left: 20px;
  }
}

@media (max-width: 320px) {
  .gallery {
    padding-bottom: 40px;
    background-image: url(../img/Gallery/backgroundImg@320.jpg);
  }

  .container {
    padding-left: 0;
  }

  .aboutus__text {
    margin-top: 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
  }

  .gallery__popup {
    flex-direction: column;
    width: 290px;
    height: 600px;
    bottom: 0;
    top: -50%;
  }

  .gallery__popupbox {
    padding: 17px 16px;
  }

  .aboutus {
    padding-top: 50px;
    padding-bottom: 27px;
  }

  .gallery__container {
    padding: 0;
  }

  .gallery__title {
    margin-bottom: 12px;
  }

  .gallery__filterlist {
    min-width: 290px;
    margin-top: 5px;
    margin-bottom: 30px;
  }

  .gallery__swiper {
    padding-top: 30px;
    padding-bottom: 60px;
  }

  .swiper__navigation {
    top: unset;
    bottom: 0;
    left: 27%;
  }
}
