.catalogue {
  background-color: var(--white);
}

.catalogue__top {
  max-width: 1080px;
  margin-bottom: 40px;
  padding-top: 40px;
}

.catalogue__mtitle {
  margin-bottom: 15px;
}

.catalogue__text {
  margin: 0;
}

.catalogue__aboutpainter {
  width: 100%;
  max-width: 750px;
  margin-right: 45px;
}

.catalogue__img {
  width: fit-content;
  height: fit-content;
  margin-bottom: 20px;
}

.catalogue__stitle {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
}

.catalogue__datetext {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: var(--mgray);
}

.catalogue__right {
  width: 100%;
}

.ac-text {
  padding: 0;
}

.catalogue__list {
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

.catalogue__items {
  width: 31%;
  text-align: left;
  word-break: break-all;
}

.catalogue__listtwo {
  display: flex;
}

.ac-box {
  margin-right: 25px;
  padding: 12px;
  border: 2px solid var(--mgray);
}

.ac-box1 {
  width: 251px;
  height: 165px;
  background-color: var(--mgray);
}

.ac-rightbox {
  max-width: 300px;
}

.ac-title {
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.ac-textbox {
  margin: 0;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.ac-link {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: var(--violet);
  transition: background-color .2s ease-in-out, color .2s ease-in-out, border .2s ease-in-out;
}

.ac-link:focus {
  border: none;
  color: var(--white);
  outline: none;
  background-color: var(--violet);
}

.ac-link:hover {
  border-bottom: 1px solid var(--violet);
}

.ac-link:active {
  border-bottom: 1px solid var(--mviolet);
  color: var(--mviolet);
  background-color: transparent;
}

.catalogue__btn {
  padding: 2px 4px;
  transition: color .2s ease-in-out, background-color .2s ease-in-out, border .2s ease-in-out;
}

.catalogue__btn:focus-visible {
  border: none;
  outline: none;
  background-color: var(--violet);
}

.catalogue__btn:hover {
  border-bottom: 1px solid var(--violet);
}

.catalogue__btn:active {
  border: none;
}

.catalogue__aboutpainter {
  display: none;
}

.catalogue__aboutpainter.catalogue__aboutpainter--active {
  display: block;
}

@media (max-width: 1535px) {
  .catalogue__listtwo {
    display: block;
  }
}

@media (max-width: 1300px) {

  .catalogue__items {
    width: 50%;
  }
}

@media (max-width: 1024px) {
  .catalogue__top {
    margin-bottom: 40px;
  }

  .empty-img {
    max-height: 274px;
  }

  .catalogue__aboutpainter {
    margin-right: 40px;
  }

  .ac-text {
    align-items: center;
  }

  .ac-box {
    padding: 8px;
  }

  .ac-box1 {
    width: 173px;
    height: 114px;
  }

  .ac-title {
    margin-top: 0;
  }

}

@media (max-width: 768px) {
  .catalogue__bottom {
    flex-direction: column-reverse;
  }

  .catalogue__right {
    margin-bottom: 59px;
  }

  .catalogue__top {
    margin-bottom: 10px;
  }

  .catalogue__items {
    width: 33%;
  }

  .catalogue__img {
    margin-bottom: 10px;
  }

  .catalogue__stitle {
    margin-bottom: 10px;
  }

  p.catalogue__datetext {
    margin: 0;
    margin-bottom: 5px;
  }

  .empty-img {
    max-width: 100%;
    max-height: 419px;
  }

  .ac-box1 {
    width: 251px;
    height: 165px;
  }
}

@media (max-width: 600px) {
  .catalogue__items {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .catalogue__top {
    padding-top: 0;
  }

  .catalogue {
    padding-bottom: 25px;
  }

  .mtitle-text {
    display: none;
  }

  .catalogue__img {
    margin-bottom: 15px;
  }

  .catalogue__mtitle {
    margin-bottom: 12px;
  }

  .catalogue__right {
    margin-bottom: 53px;
  }

  .catalogue__stitle {
    margin-bottom: 7px;
  }

  p.catalogue__datetext {
    margin-bottom: 13px;
  }

  .empty-img {
    max-height: 181px;
  }

  .ac-box1 {
    width: 79px;
    height: 118px;
  }

  .ac-text.flex {
    flex-direction: unset;
  }

  .ac-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
  }
}
