.event {
  background-color: var(--white);
}

.event__title {
  margin-bottom: 16px;
}

.event__img {
  margin-bottom: 4px;
}

.event__figcaption {
  padding-left: 50px;
  margin: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: var(--mgray);
}

.event__textbox {
  position: relative;
  padding: 12px 51px 15px 50px;
  min-height: 325px;
}

.event__mtitle {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--mblack);
}

.event__text {
  margin: 0;
  color: var(--mblack);
}

.event__link {
  position: absolute;
  margin-bottom: 39px;
  color: var(--violet);
  bottom: 0;
  border-bottom: 1px solid var(--violet);
}

/* Projects */
.projects {
  background-color: var(--white);
}

.projects__textbox {
  max-width: 1080px;
}

.projects__title {
  margin-bottom: 15px;
}

.projects__mtitle {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.projects__text {
  margin: 0;
  margin-bottom: 20px;
}

.projects__link {
  color: var(--violet);
}

.projects__slide {
  background-repeat: no-repeat;
  width: 450px;
  height: 150px;
}

.slide1 {
  background: url(../img/project/slide1.svg);
}

.slide2 {
  background: url(../img/project/slide2.svg);
}

.slide3 {
  background: url(../img/project/slide3.svg);
}

.slide4 {
  background: url(../img/project/slide4.svg);
}

.slide5 {
  background: url(../img/project/slide5.svg);
}

.slide6 {
  background: url(../img/project/slide6.svg);
}

.slide7 {
  background: url(../img/project/slide7.svg);
}

.slide8 {
  background: url(../img/project/slide8.svg);
}

.slide9 {
  background: url(../img/project/slide9.svg);
}
