.event {
  background-color: var(--white);
}

.event__title {
  margin-bottom: 16px;
}

.event__figcaption {
  margin: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: var(--mgray);
}

.figcaption2 {
  margin-bottom: 13px;
}

.event__textbox {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 12px 57px 15px 45px;
  min-height: 373px;
}

.event__mtitle {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--mblack);
}

.event__text {
  margin: 0;
  color: var(--mblack);
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.event__link {
  padding: 2px 5px;
  position: absolute;
  color: var(--violet);
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  bottom: 0;
  border-bottom: 1px solid var(--violet);
  transition: background-color .2s ease-in-out, color .2s ease-in-out, border .2s ease-in-out;
  margin-bottom: 38px;
}

.event__link:focus {
  background-color: var(--mviolet);
  color: var(--white);
  text-decoration: underline var(--white);
  outline: none;
}

.event__link:hover {
  color: var(--mviolet);
}

.event__link:active {
  color: var(--mblack);
  border-bottom: 1px solid var(--mblack);
}

/* Projects */
.projects {
  background-color: var(--white);
}

.projects__textbox {
  max-width: 1080px;
}

.projects__title {
  margin-bottom: 15px;
}

.projects__mtitle {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.projects__text {
  margin: 0;
  margin-bottom: 20px;
}

.projects__link {
  color: var(--violet);
  padding: 2px 5px;
  transition: background-color .2s ease-in-out, color .2s ease-in-out, border .2s ease-in-out;
}

.projects__link:focus {
  background-color: var(--violet);
  color: var(--white);
  border: none;
  outline: none;
}

.projects__link:hover {
  border-bottom: 1px solid var(--violet);
}

.projects__link:active {
  color: var(--mviolet);
  border-bottom: 1px solid var(--mviolet);
  background-color: transparent;
}


.projects__img {
  filter: grayscale(1);
  opacity: 0.3;
}

.projects__img:hover {
  filter: grayscale(0);
  opacity: 1;
}

.projects__img:active {
  filter: grayscale(0);
  opacity: 1;
}


.projects__tooltip {
  cursor: pointer;
  fill: var(--white);
  outline: none;
  transition: fill .2s ease-in-out, color .2s ease-in-out;
}

.projects__tooltip:focus,
.projects__tooltip:hover {
  fill: var(--lightviolet);
}

.projects__tooltip:active {
  fill: var(--violet);
  color: var(--white);
}


.swiper__link {
  display: inline-block;
  transition: outline .2s ease-in-out;
}

.swiper__link:focus {
  outline: 1px solid var(--violet);
}

.swiper__link:active {
  outline: 1px solid var(--violet);
}


@media (max-width: 1215px) {
  .event__textbox {
    min-height: 453px;
  }

  .event__link {
    margin-bottom: 44px;
  }
}

@media (max-width: 1024px) {

  .event {
    padding-bottom: 60px;
  }

  .projects {
    padding-top: 60px;
  }

  .event__title {
    padding-left: 9px;
  }

  .event__mtitle {
    margin-bottom: 7px;
  }

  .event__container {
    padding-left: 0;
  }

  .event__textbox {
    padding: 13px 33px 15px 34px;
  }

  .projects__slide {
    width: 384px;
    height: 128px;
  }

  .event__figcaption {
    margin-left: auto;
    margin-bottom: 0;
  }

  .figcaption2 {
    margin-bottom: 4px;
  }

}

@media (max-width: 768px) {
  .event__textbox {
    padding: 13px 22px 15px 39px;
  }

  .event__title {
    padding-left: 0px;
}

  .projects__text {
    margin-bottom: 29px;
  }

  .swiper.projects__swiper.swiper-initialized.swiper-horizontal.swiper-pointer-events {
    padding-left: 54px;
    padding-right: 47px;
  }

  .projects__swiper {
    padding-top: 0;
    padding-bottom: 0;
  }

}
