.event {
  background-color: var(--white);
}

.event__title {
  margin-bottom: 16px;
}

.event__figcaption {
  margin: 0;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: var(--mgray);
}

.figcaption2 {
  margin-bottom: 13px;
}

.event__textbox {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 373px;
  padding: 12px 57px 15px 45px;
  text-align: left;
}

.event__mtitle {
  margin: 0;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  color: var(--mblack);
}

.event__text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: var(--mblack);
}

.event__link {
  position: absolute;
  bottom: 0;
  margin-bottom: 38px;
  padding: 2px 5px;
  border-bottom: 1px solid var(--violet);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: var(--violet);
  transition: background-color .2s ease-in-out, color .2s ease-in-out, border .2s ease-in-out;
}

.event__link:focus {
  color: var(--white);
  text-decoration: underline var(--white);
  outline: none;
  background-color: var(--mviolet);
}

.event__link:hover {
  color: var(--mviolet);
}

.event__link:active {
  border-bottom: 1px solid var(--mblack);
  color: var(--mblack);
}

/* Projects */
.projects {
  background-color: var(--white);
}

.projects__textbox {
  max-width: 1080px;
}

.projects__title {
  margin-bottom: 15px;
}

.projects__mtitle {
  margin: 0;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.projects__text {
  margin: 0;
  margin-bottom: 20px;
}

.projects__link {
  padding: 2px 5px;
  color: var(--violet);
  transition: background-color .2s ease-in-out, color .2s ease-in-out, border .2s ease-in-out;
}

.projects__link:focus {
  border: none;
  color: var(--white);
  outline: none;
  background-color: var(--violet);
}

.projects__link:hover {
  border-bottom: 1px solid var(--violet);
}

.projects__link:active {
  border-bottom: 1px solid var(--mviolet);
  color: var(--mviolet);
  background-color: transparent;
}

.projects__img {
  opacity: .3;

  filter: grayscale(1);
}

.projects__img:hover {
  opacity: 1;

  filter: grayscale(0);
}

.projects__img:active {
  opacity: 1;

  filter: grayscale(0);
}

.projects__tooltip {
  outline: none;
  cursor: pointer;
  transition: fill .2s ease-in-out, color .2s ease-in-out;

  fill: var(--white);
}

.projects__tooltip:focus,
.projects__tooltip:hover {
  fill: var(--lightviolet);
}

.projects__tooltip:active {
  color: var(--white);

  fill: var(--violet);
}

.swiper__link {
  display: inline-block;
  transition: outline .2s ease-in-out;
}

.swiper__link:focus {
  outline: 1px solid var(--violet);
}

.swiper__link:active {
  outline: 1px solid var(--violet);
}

@media (max-width: 1215px) {
  .event__textbox {
    min-height: 453px;
  }

  .event__link {
    margin-bottom: 44px;
  }
}

@media (max-width: 1024px) {
  .event {
    padding-bottom: 60px;
  }

  .projects {
    padding-top: 60px;
  }

  .event__title {
    padding-left: 9px;
  }

  .event__mtitle {
    margin-bottom: 7px;
  }

  .event__container {
    padding-left: 0;
  }

  .event__textbox {
    padding: 13px 33px 15px 34px;
  }

  .projects__slide {
    width: 384px;
    height: 128px;
  }

  .event__figcaption {
    margin-bottom: 0;
    margin-left: auto;
  }

  .figcaption2 {
    margin-bottom: 4px;
  }
}

@media (max-width: 768px) {
  .event__textbox {
    padding: 13px 22px 15px 39px;
  }

  .event__title {
    padding-left: 0;
  }

  .projects__text {
    margin-bottom: 29px;
  }

  .swiper.projects__swiper.swiper-initialized.swiper-horizontal.swiper-pointer-events {
    padding-right: 47px;
    padding-left: 54px;
  }

  .projects__swiper {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 320px) {
  .event {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .figcaption2 {
    margin-bottom: 8px;
  }

  .event__textbox {
    padding: 13px 17px 15px 20px;
  }

  .event__link {
    margin-bottom: 49px;
  }

  .projects {
    padding-top: 51px;
    padding-bottom: 25px;
  }

  .projects__title {
    margin-bottom: 12px;
  }

  .projects__text {
    margin-bottom: 51px;
  }

  .projects__mtitle {
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
  }

  .projects__slide {
    width: inherit;
    height: inherit;
  }
}
