.footer {
  background-color: var(--white);
  padding-top: 40px;
}

.footer__cointainer {
  padding-top: 43px;
}

.footer__form {
  margin-bottom: 27px;
}

.footer__streetname {
  margin-right: 97px;
}

.footer__mtitle {
  margin-bottom: 6px;
  margin: 0;
  font-size: 24px;
}

.footer__text {
  margin: 0;
}

.footer__input {
  margin-right: 20px;
  border: 1px solid var(--mblack);
  border-radius: 100px;
  padding: 15px 60px 15px 21px;
  outline: none;
  transition: background-color .2s ease-in-out;
}

.footer__input:focus-visible,
.footer__input:hover {
  background-color: #ECECEC;
}

.footer__formbox {
  /* margin-left: auto; */
  padding-top: 3px;
}

.footer__callback {
  padding-right: 25px;
  margin-left: auto;
}

.footer__mtitlecallback {
  margin: 0;
  margin-top: -8px;
  margin-bottom: 6px;
  font-size: 24px;
}

.footer__link {
  margin-right: 15px;
}

.footer__map {
  width: 100%;
  height: 700px;
}

.footer__bottom {
  background-color: var(--black);
}

.footer__logo {
  background-image: url(../img/headerAndMain/BlanchardLogoWhite.svg);
  min-width: 173px;
  min-height: 40px;
  background-repeat: no-repeat;
  display: inline-block;
}

.footer__line {
  padding: 43px 0;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.footer__social {
  padding-top: 5px;
}

.footer__sociallink:first-child {
  margin-right: 16px;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

.whatsapp {
  background-image: url(../img/footer/WhatsappIcon.svg);
  display: inline-block;
  width: 39px;
  height: 39px;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity .2s ease-in-out, border .2s ease-in-out;
}

.whatsapp:focus-visible,
.whatsapp:hover {
  opacity: 0.5;
  outline: none;
}

.whatsapp:active {
  border: 1px solid var(--violet);
  opacity: 1;
  border-radius: 50%;
}

.telegramm {
  background-image: url(../img/footer/TelegramIcon.svg);
  display: inline-block;
  width: 39px;
  height: 39px;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity .2s ease-in-out, border .2s ease-in-out;
}

.telegramm:focus-visible,
.telegramm:hover {
  opacity: 0.5;
  outline: none;
}

.telegramm:active {
  border: 1px solid var(--violet);
  opacity: 1;
  border-radius: 50%;
}

.footer__sociallink {
  color: var(--lightgray);
  transition: color .2s ease-in-out, outline .2s ease-in-out;
}

.footer__sociallink:focus-visible,
.footer__sociallink:hover {
  color: var(--white);
  outline: none;
}

.footer__sociallink:active {
  color: var(--violet);
}


@media (max-width: 1540px) {
  .footer__form {
    flex-direction: column;
  }

  .footer__streetname {
    margin-bottom: 15px;
  }

  .footer__formbox {
    margin-bottom: 20px;
  }

  .footer__callback {
    margin-left: 0;
  }
}

@media (max-width: 1024px) {
  .footer__formbox {
    padding-top: 8px;
    margin-bottom: 37px;
  }

  .footer__line {
    padding: 43px 0;
    padding-left: 10px;
    padding-bottom: 29px;
  }

  .footer__logo {
    padding-bottom: 48px;
  }

  .tests {
    min-width: 60px;
    min-height: 60px;
  }

  .footer__social {
    margin-right: -8px;
  }

}

@media (max-width: 960px) {
  .footer__social {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .footer__cointainer {
    padding-top: 34px;
  }

  .footer__mtitle {
    margin-bottom: 6px;
  }

  .footer__input {
    margin-right: 0;
    padding: 15px 105px 15px 22px;
    margin-bottom: 8px;
  }

  .footer__input:first-child {
    margin-right: 20px;
  }

  .footer__line {
    padding-left: 0;
  }
}

@media (max-width: 320px) {
  .footer {
    padding-top: 20px;
  }

  .footer__cointainer {
    padding-top: 0;
  }

  .footer__mtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 4px;
  }

  .footer__streetname {
    margin-right: 0;
    margin-bottom: 0;
  }

  .footer__input {
    padding: 10px 76px 10px 23px;
    margin-bottom: 18px;
  }

  .footer__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 13px;
  }

  .footer__input:first-child {
    margin-right: 0;
  }

  .footer__btn {
    padding: 13px 35px 9px 33px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
  }

  .btn-text {
    display: none;
  }

  .footer__mtitlecallback {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
  }

  .footer__formbox {
    margin-bottom: 28px;
  }

  .whatsapp {
    background-image: url(../img/footer/WhatsappIcon@320.svg);
    width: 50px;
    height: 50px;
  }

  .telegramm {
    background-image: url(../img/footer/TelegramIcon@320.svg);
    width: 50px;
    height: 50px;
  }

  .footer__form {
    margin-bottom: 13px;
  }

  .footer__map {
    height: 320px;
  }

  .footer__line {
    flex-direction: column-reverse;
    padding: 13px 0;
    padding-bottom: 0;
  }

  .tests {
    min-width: 50px;
    min-height: 50px;
  }

  .footer__logo {
    background-image: url(../img/headerAndMain/BlanchardLogoWhite@320.svg);
    min-width: 97px;
    padding-bottom: 0;
  }

  .footer__social {
    margin-bottom: 8px;
  }
}
