.header {
  background-color: var(--black);
}

.header__container {
  flex-wrap: wrap;
  padding: 30px 0;
}

.header__logo {
  min-width: 173px;
  min-height: 40px;
  margin-right: 174px;
  background-image: url(../img/headerAndMain/BlanchardLogoWhite.svg);
  background-repeat: no-repeat;
}

a.header__logolink {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.header__nav {
  padding-top: 7px;
}

.nav__list {
  flex-wrap: wrap;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  color: var(--white);
}

.nav__items {
  margin-right: 48px;
}

.nav__link {
  padding: 2px 7px;
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

.nav__link:focus-visible {
  border: none;
  outline: none;
  background-color: var(--mviolet);
}

.nav__link:active {
  color: var(--mviolet);
  background-color: transparent;
}

.nav__link:hover {
  color: var(--violethover);
}

.hero {
  padding-top: 0;
}

.hero-swiper {
  position: absolute;
  z-index: -1;
}

.hero-img {
  width: 100%;
  min-width: 320px;
  height: fit-content;
}

.hero-box {
  padding-bottom: 58px;
  position: relative;
}

.hero__filtr {
  width: 100%;
  padding: 20px 0 17px;
  background: rgba(0, 0, 0, .5);
}

.hero__list {
  flex-wrap: wrap;
}

.hero__items {
  position: relative;
  margin-right: 85px;
}

.hero__items::after {
  content: "";
  position: absolute;
  bottom: 25%;
  width: 15px;
  height: 10px;
  margin-left: -13px;
  background-image: url(../img/headerAndMain/whiteArrowDown.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  transition: background-image .2s ease-in-out;
}

.hero_items:hover::after {
  background-image: url(../img/headerAndMain/arrowDownViolet.svg);
}

.hero__items:active::after {
  background-image: url(../img/headerAndMain/arrowUpViolet.svg);
}

.hero__search {
  position: relative;
  margin-left: auto;
}

.hero__items--active::after {
  background-image: url(../img/headerAndMain/arrowUpViolet.svg);
}

.hero__input {
  min-width: 218px;
  border: none;
  border-bottom: 1px solid var(--white);
  color: var(--white);
  background-color: transparent;
  transition: border .2s ease-in-out;
}

.hero__input:focus-visible {
  border-bottom: 1px solid var(--violethover);
  outline: none;
}

.hero__input:hover {
  border-bottom: 1px solid var(--violethover);
  outline: none;
}

.hero__input:active {
  border-bottom: 1px solid var(--violethover);
  outline: none;
}

.hero__button::before {
  content: "";
  position: absolute;
  top: 16%;
  left: -34px;
  width: 22px;
  height: 22px;
  background-image: url(../img/headerAndMain/searchIcon.svg);
  background-repeat: no-repeat;
}

.hero__textbox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 597px;
  padding-top: 62px;
}

.hero__title {
  margin: 0;
  font-size: 72px;
  font-weight: 700;
  line-height: 98px;
  color: var(--white);
}

.hero__text {
  margin: 0;
  margin-bottom: 90px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: var(--white);
}

.simplebar-content-wrapper {
  overflow: auto;
}

.scrollbox {
  position: absolute;
  z-index: 3;
  top: 30px;
  display: none;
  width: 300px;
  height: 300px;
  background: rgba(0, 0, 0, .5);
}

.scrollbox--active {
  display: block;
}

.scrollbox__list {
  padding: 40px;
}

.scrollbox__item {
  margin-bottom: 20px;
}

.scrollbox__link {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 9px 14px;
  transition: outline .2s ease-in-out;
}

.scrollbox__link:focus,
.scrollbox__link:hover {
  outline: 2px solid var(--violet);
}

.scrollbox__link:active {
  background: linear-gradient(0deg, rgba(194, 131, 243, .4), rgba(194, 131, 243, .4)), url(.jpg);
}

.scrollbox__box {
  width: 220px;
  height: 40px;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  color: var(--white);
  background-repeat: no-repeat;
}

.simplebar-scrollbar::before {
  width: 2px;
  opacity: 1;
  background-color: var(--white);
}

.painter1 {
  background-image: url(../img/headerAndMain/painter1.jpg);
}

.painter2 {
  background-image: url(../img/headerAndMain/painter2.jpg);
}

.painter3 {
  background-image: url(../img/headerAndMain/painter3.jpg);
}

.painter4 {
  background-image: url(../img/headerAndMain/painter4.jpg);
}

.painter5 {
  background-image: url(../img/headerAndMain/painter5.jpg);
}

.painter6 {
  background-image: url(../img/headerAndMain/painter6.jpg);
}

.painter7 {
  background-image: url(../img/headerAndMain/painter7.jpg);
}

.painter8 {
  background-image: url(../img/headerAndMain/painter8.jpg);
}

.painter9 {
  background-image: url(../img/headerAndMain/painter9.jpg);
}

.painter10 {
  background-image: url(../img/headerAndMain/painter10.jpg);
}

.painter11 {
  background-image: url(../img/headerAndMain/painter11.jpg);
}

.painter12 {
  background-image: url(../img/headerAndMain/painter12.jpg);
}

.painter13 {
  background-image: url(../img/headerAndMain/painter13.jpg);
}

.painter14 {
  background-image: url(../img/headerAndMain/painter14.jpg);
}

.painter15 {
  background-image: url(../img/headerAndMain/painter15.jpg);
}

.painter16 {
  background-image: url(../img/headerAndMain/painter16.jpg);
}

.painter17 {
  background-image: url(../img/headerAndMain/painter17.jpg);
}

.painter18 {
  background-image: url(../img/headerAndMain/painter18.jpg);
}

.painter19 {
  background-image: url(../img/headerAndMain/painter19.jpg);
}

.painter20 {
  background-image: url(../img/headerAndMain/painter20.jpg);
}

.header__btn {
  display: none;
  padding-bottom: 12px;
  padding-left: 20px;
}

.form {
  display: none;
}

@media (max-width: 1360px) {
  .hero__filtr {
    display: none;
  }
}

@media (max-width: 1260px) {
  .header__container {
    justify-content: space-between;
    padding-bottom: 14px;
  }

  .header__nav {
    display: none;
  }

  .header__logo {
    min-width: 188px;
    min-height: 42px;
    margin-right: 0;
    background-image: url(../img/headerAndMain/BlanchardLogoWhite@1024.svg);
  }

  .hero__textbox {
    max-width: 700px;
    padding-top: 105px;
  }

  .hero__title {
    margin-bottom: -11px;
  }

  .hero__text {
    margin-bottom: 133px;
  }

  .header__link {
    display: none;
  }

  .header__btn {
    display: block;
  }

  /* Isn't work smoothy effect because display none... */
  .header__nav {
    position: absolute;
    z-index: 6;
    top: 0;
    display: none;
    flex-direction: column;
    min-width: 1024px;
    min-height: 768px;
    margin-left: -49px;
    padding-top: 96px;
    padding-left: 50px;
    opacity: 0;
    background-color: var(--black);
    transition: opacity .2s ease-in-out, transform .6s cubic-bezier(.12, 0, .39, 0);
    transform: translateX(246px);
  }

  .header__nav--active {
    display: flex;
    opacity: 1;
    transform: translateX(0);
  }

  .nav__list {
    display: block;
    font-size: 24px;
    font-weight: 600;
    line-height: 64px;
  }

  .form {
    position: absolute;
    top: 50%;
    right: -30px;
    display: none;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(0, 0, 0, .2);
    transform: translateY(-50%);
    transform-origin: right;
  }

  .form.is-opened {
    z-index: 7;
    display: flex;
    background-color: var(--black);
    animation-name: search-open;
    animation-duration: .3s;
  }

  .form.is-closed {
    animation-name: search-close;
    animation-duration: .3s;
  }

  .form__searchinput {
    margin-right: 25px;
    padding-bottom: 3px;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, .85);
    color: var(--white);
    background-color: transparent;
  }

  .form__searchbtn,
  .form__closebtn {
    width: 27px;
    height: 27px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .form__searchbtn {
    margin-right: 10px;
    background-image: url(../img/headerAndMain/searchIcon.svg);
  }

  .form__closebtn {
    background-image: url(../img/headerAndMain/closeIcon.svg);
  }
}

@media (max-width: 1024px) {
  .header__btn {
    z-index: 5;
    margin-right: -8px;
    padding-left: 30px;
  }
}

@media (max-width: 960px) {
  .header__btn {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  button.hamburger.hamburger--collapse {
    padding: 7px 15px 15px 0;
  }

  .header__nav {
    min-width: 768px;
  }

  .form {
    right: inherit;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: var(--black);
  }

  .form__searchinput {
    width: 100%;
    margin-right: 0;
    padding-bottom: 15px;
  }

  .form__closebtn {
    min-width: 29px;
    height: 29px;
    margin-right: 8px;
    background-image: url(../img/headerAndMain/closeIcon@768.svg);
  }

  .form__searchbtn {
    min-width: 29px;
    height: 29px;
    background-image: url(../img/headerAndMain/searchIcon@1024.svg);
  }
}

@media (max-width: 576px) {
  .hero__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
  }
}

@media (max-width: 320px) {
  .form__searchinput {
    padding-bottom: 0;
  }

  .header__container {
    flex-wrap: unset;
    padding: 3px 0;
  }

.hero {
  padding: 0;
}

  .hero-box {
    padding-bottom: 15px;
  }

  .header__btn {
    padding-bottom: 0;
  }

  .header__logo {
    min-width: 97px;
    height: 22px;
    min-height: unset;
    margin-top: 9px;
    background-image: url(../img/headerAndMain/BlanchardLogoWhite@320.svg);
  }

  .header__btn {
    padding-left: 22px;
  }

  .search__img {
    width: 18px;
    height: 18px;
  }

  .header__nav {
    min-width: 320px;
    min-height: 600px;
    margin-left: 0;
    padding-left: 0;
  }

  .nav__items {
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
  }

  .hero__title {
    margin-bottom: 2px;
  }

  .hero__textbox {
    align-items: center;
    padding-top: 31px;
    text-align: center;
  }

  .hero__text {
    margin-bottom: 0;
    margin-bottom: 41px;
    padding: 0 20px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }
}
