/* Gallery Swiper */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__swiper {
  padding-top: 85px;
}

.swiper__navigation {
  position: absolute;
  top: 3%;
  left: -0.5%;
  width: 200px;
  display: flex;
  height: 50px;
}

.swiper-pagination {
  position: absolute;
  color: var(--white);
  left: 0;
  top: 0;
}

.swiper-button-prev {
  width: 30px;
}

.swiper-button-prev:after {
  content: '';
  width: 30px;
  height: 30px;
  background-color: var(--gray);
  border-radius: 50%;
  background-image: url(../img/Gallery/arrowWhiteLeft.svg);
}

.swiper-button-next:after {
  content: '';
  width: 30px;
  height: 30px;
  background-color: var(--gray);
  border-radius: 50%;
  background-image: url(../img/Gallery/arrowWhiteRight.svg);
}

.swiper-pagination {
  padding-left: 58px;
  padding-top: 12px;
  width: 92px;
}

.swiper-button-next {
  right: 62px;
}

/* Event Slider */

.swiper .event__swiper {
  max-width: 1600px;
}

.swiper.projects__swiper.swiper-initialized.swiper-horizontal.swiper-pointer-events {
  padding-left: 74px;
  padding-right: 76px;
}

.event__slide {
  border: 1px solid var(--lightgray);
  display: flex;
  flex-direction: column;
}

.event__slide {
  display: block;
}

.event__swiperbtnnext,
.swiper-rtl {
  width: 50px;
  top: 50%;
  right: 0;
}

.event__swiperbtnnext:after {
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25 2.72191e-06C38.8071 2.11838e-06 50 11.1929 50 25C50 38.8071 38.8071 50 25 50C11.1929 50 -4.89256e-07 38.8071 -1.09278e-06 25C-1.69631e-06 11.1929 11.1929 3.32544e-06 25 2.72191e-06Z' fill='%23ECECEC'/%3E%3Cpath d='M25 2.72191e-06C38.8071 2.11838e-06 50 11.1929 50 25C50 38.8071 38.8071 50 25 50C11.1929 50 -4.89256e-07 38.8071 -1.09278e-06 25C-1.69631e-06 11.1929 11.1929 3.32544e-06 25 2.72191e-06Z' stroke=''/%3E%3Cpath d='M23.3333 16.6667L31.6667 25L23.3333 33.3333' stroke='black'/%3E%3C/svg%3E%0A");
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}

/* Projects Swiper */

.projects__swiperbtnprev:after,
.swiper-rtl {
  content: "";
  width: 30px;
  height: 30px;
  background-image: url(../img/project/arrowlLeft.svg);
  background-repeat: no-repeat;
}

.projects__swiperbtnnext:after {
  content: "";
  width: 30px;
  height: 30px;
  background-image: url(../img/project/arrowRight.svg);
  background-repeat: no-repeat;
}

.projects__swiper {
  padding-top: 5px;
  padding-bottom: 5px;
}


@media (max-width:1024px) {
  .swiper-pagination {
    padding-left: 43px;
  }

  .swiper-button-prev {
    left: 3px;
  }

  .swiper-button-next {
    right: 69px;
  }
}
