/* Gallery Swiper */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display:         flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  font-size: 18px;
  text-align: center;
  background: #ffffff;
}

.myswiper__slide:focus-visible {
  outline:3px solid var(--mviolet) ;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.gallery__swiper {
  padding-top: 85px;
}

.swiper__navigation {
  position: absolute;
  top: 2%;
  left: -.5%;
  display: flex;
  width: 200px;
  height: 50px;
}

.swiper-pagination {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--white);
}

.swiper-button-prev {
  top: auto;
  bottom: 4%;
  left: 9px;
  width: 30px;
}

.swiper-button-next.gallery__nextbtn {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--gray);
  background-image: url(../img/Gallery/arrowWhiteRight.svg);
}

.swiper-button-next.gallery__nextbtn:focus {
  background-image: url(../img/Gallery/arrowRightFocus.svg);
}

.swiper-button-next.gallery__nextbtn:hover {
  background-image: url(../img/Gallery/arrowRightHover.svg);
}

.swiper-button-next.gallery__nextbtn:active {
  background-image: url(../img/Gallery/arrowRightActive.svg);
}

.swiper-button-next.gallery__nextbtn::after {
  display: none;
}

.swiper-button-prev.gallery__prevbtn {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--gray);
  background-image: url(../img/Gallery/arrowWhiteLeft.svg);
}

.swiper-button-prev.gallery__prevbtn:focus {
  background-image: url(../img/Gallery/arrowRightFocus.svg);
  transform: rotate(180deg);
}

.swiper-button-prev.gallery__prevbtn:hover {
  background-image: url(../img/Gallery/arrowRightHover.svg);
  transform: rotate(180deg);
}

.swiper-button-prev.gallery__prevbtn:active {
  background-image: url(../img/Gallery/arrowRightActive.svg);
  transform: rotate(180deg);
}

.swiper-button-prev.gallery__prevbtn::after {
  display: none;
}

.swiper-pagination {
  position: absolute;
  top: 30%;
  left: 14%;
  width: 92px;
}

.swiper-button-next {
  top: auto;
  right: 32%;
  bottom: 5%;
}

/* Event Slider */

.swiper .event__swiper {
  max-width: 1600px;
}

.swiper.projects__swiper.swiper-initialized.swiper-horizontal.swiper-pointer-events {
  padding-right: 54px;
  padding-left: 52px;
}

.event__slide {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--lightgray);
}

.event__slide {
  display: block;
}

.event__swiperbtnnext,
.swiper-rtl {
  top: 54%;
  right: -1.5%;
  width: 50px;
}

.event__swiperbtnnext:after {
  content: "";
  width: 50px;
  height: 50px;
  background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25 2.72191e-06C38.8071 2.11838e-06 50 11.1929 50 25C50 38.8071 38.8071 50 25 50C11.1929 50 -4.89256e-07 38.8071 -1.09278e-06 25C-1.69631e-06 11.1929 11.1929 3.32544e-06 25 2.72191e-06Z' fill='%23ECECEC'/%3E%3Cpath d='M25 2.72191e-06C38.8071 2.11838e-06 50 11.1929 50 25C50 38.8071 38.8071 50 25 50C11.1929 50 -4.89256e-07 38.8071 -1.09278e-06 25C-1.69631e-06 11.1929 11.1929 3.32544e-06 25 2.72191e-06Z' stroke=''/%3E%3Cpath d='M23.3333 16.6667L31.6667 25L23.3333 33.3333' stroke='black'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.event__pagination {
  display: none;
}

/* Projects Swiper */

.projects__swiperbtnprev:after,
.swiper-rtl {
  content: "";
  width: 30px;
  height: 30px;
  background-image: url(../img/project/arrowlLeft.svg);
  background-repeat: no-repeat;
}

.projects__swiperbtnprev:focus:after {
  background-image: url(../img/project/arrowRightFocus.svg);
  transform: rotate(180deg);
}

.projects__swiperbtnprev:hover:after {
  background-image: url(../img/project/arrowRightHover.svg);
  transform: rotate(180deg);
}

.projects__swiperbtnprev:active:after {
  background-image: url(../img/project/arrowRightActive.svg);
  transform: rotate(180deg);
}

.swiper-button-prev.projects__swiperbtnprev {
  border: none;
  outline: none;
}

.projects__swiperbtnprev {
  bottom: 10%;
  left: 0;
}

.projects__swiperbtnnext {
  right: 0;
  bottom: 10%;
}

.swiper-button-next.projects__swiperbtnnext {
  border: none;
  outline: none;
}

.projects__swiperbtnnext:after {
  content: "";
  width: 30px;
  height: 30px;
  background-image: url(../img/project/arrowRight.svg);
  background-repeat: no-repeat;
}

.projects__swiperbtnnext:focus:after {
  border: none;
  outline: none;
  background-image: url(../img/project/arrowRightfocus.svg);
}

.projects__swiperbtnnext:hover:after {
  background-image: url(../img/project/arrowRightHover.svg);
}

.projects__swiperbtnnext:active:after {
  background-image: url(../img/project/arrowRightactive.svg);
}

.projects__swiper {
  padding-top: 5px;
  padding-bottom: 5px;
}

@media (max-width: 1670px) {
  .event__swiperbtnnext {
    display: none;
  }

  .swiper-button-next {
    right: 35%;
  }

  .event__pagination.swiper-pagination {
    top: auto;
    bottom: -7%;
    left: 50%;
    display: inline-block;
    width: 150px;
    height: 40px;
    transform: translateX(-45%);
  }

  .swiper-pagination-bullet-active {
    background-color: var(--gray);
  }
}

@media (max-width:1024px) {
  .swiper-pagination {
    top: 19%;
    left: 11%;
  }

  .swiper-button-prev {
    bottom: 8%;
    left: 1%;
  }

  .swiper-button-next {
    bottom: 8%;
  }

  .swiper__navigation {
    top: 3%;
  }

  .event__pagination .swiper-pagination-bullet  {
    width: 10px;
    height: 10px;
  }

  .event__pagination .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet
  {
    margin: 0 8px;
  }
}

@media (max-width: 768px) {
  .swiper__navigation {
    top: 7%;
  }

  .projects__swiperbtnnext {
    right: -1%;
    bottom: 6%;
  }

  .projects__swiperbtnprev {
    bottom: 6%;
  }
}

@media (max-width: 320px) {
  .projects__swiperbtnnext {
    right: 1%;
    bottom: 1%;
  }

  .projects__swiperbtnprev {
    bottom: 1%;
  }
}
