.header__link {
  position: relative;
  font-weight: 400;
  padding-top: 7px;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
  margin-left: auto;
}

.header__link::before {
  position: absolute;
  content: '';
  background-image: url(../img/headerAndMain/arrowExit.svg);
  width: 13px;
  height: 13px;
  left: -20px;
  top: 25%;
  background-repeat: no-repeat;
}

.main__link {
  padding: 23px 36px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  background: var(--violet);
  border-radius: 100px;
  color: var(--white);
  width: max-content;
  margin-bottom: 30px;
}

.footer__btn {
  color: var(--violet);
  border: 2px solid var(--violet);
  border-radius: 100px;
  background-color: transparent;
  padding: 13px 35px 12px 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}
