:root {
  --black: #000;
  --mblack: #333;
  --gray: #666;
  --lightgray: #CACACA;
  --mgray: #999;
  --white: #fff;
  --violet: #9D5CD0;
  --mviolet: #7943A4;
  --violethover: #C283F3;
  --lightviolet: #D1A9F0;
}
